@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.main_wrap {
    width:100%;
    height:100vh;
    padding-top: 150px;
    background-color: #e1b5a5;
    position: relative;
}



.todo_box {
    width:600px;
    height: 550px;
    margin: 0 auto;
    background-color: #fffdec;
    box-shadow: 10px 10px 1px rgba(0,0,0,1);
    border:3px solid #000;
    border-radius: 15px;
    overflow: auto;
    position: relative;
}

.todo_box::-webkit-scrollbar {
    display:none;
}

.todo_plus {
    width:100%;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid #000;
}

.todo_plus h2 {
    font-family: 'Jua', sans-serif;
    font-size: 1.2em;
}


.todo_input {
    display: flex;
}
.todo_input input {
    width:300px;
    border:3px solid #000;
    border-radius: 5px;
    background-color: #ffeedd;
    height: 30px;
}
.todo_input input::placeholder {
    font-style: italic;
}

.todo_input button {
 margin-left: 20px;
}



 

/* 모디파이탭 */

.modify_tab {
    width:100%; height: 100vh;
    z-index: 999;
    position: absolute;
    left:50%; top:50%;
    transform:translate(-50%,-50%);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modify_true {
    width:500px; height: 300px;
    background-color:#189bfa;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 10px 10px 1px rgba(0,0,0,1);
    border:3px solid #000;
    position: relative;
}

.modify_tab input {
    width:60%;
    border:3px solid #000;
    border-radius: 5px;
    background-color: #ffeedd;
    height: 60px;
    margin-bottom: 20px;
 }
.pub_btn {
    font-size:2.5em;
    transition: transform 0.3s;
}
.close_btn {
    position:absolute;
    right: 20px; top:20px;
    transition: transform 0.3s;
}

.modify_tab button:hover {
    transform: scale(0.95);
}



/* 페이지 네이션 */




.pagination_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:10px;
}


.page_move {
    display: block;
    background-color: #e1b5a5;
    width: 35px; height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
}


.prevBtn {
    margin-right: 15px;cursor: pointer;
}

.nextBtn {
    margin-left: 15px;cursor: pointer;
}


.now_page {
    display: block;
    background-color: #e1b5a5;
    width: 35px; height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
    margin: 0px 3px;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
    font-size: 0.875em;
}

.page {
    display: block;
    background-color: #ffeedd;
    width: 35px; height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
    margin: 0px 3px;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
    font-size: 0.875em;
}





/* 반응형 */




@media screen and (max-width:670px) {
    
    .main_wrap {
        padding-top: 100px;
    }


    .todo_plus h2 {
        width:100%;
        text-align: center;
        font-family: 'Jua', sans-serif;
        font-size: 1.0em;
    }



    .todo_box {
        width:90%;
        height: 60vh;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%; left:50%;
    }


    .todo_plus {
        width:100%;
        height: 80px;
    }



    .todo_input input {
        width:80%;
    }


    
}