@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.menu_wrap {
    position: fixed;
    width:100vw; height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,0.3);
    top:50px; right: 0;
    opacity: 1;
    transition: opacity 1s;
}

.menu_wrap_active {
    position: fixed;
    width:100vw; height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,0.3);
    top:50px; right: -100vW;
    transition:right 1s;
    opacity: 0;
    transition: opacity 1s;
}

.menu_fact {
    position: inherit;
    z-index: 1000;
    width:20%; height: 100vh;
    background-color: #ffeedd;
    top:0; right: 0;
    border-radius: 25px 0 0 25px;
    transition: right 1s;
}

.menu_fact_close {
    position: inherit;
    z-index: 1000;
    width:20%; height: 100vh;
    background-color: #ffeedd;
    top:0; right:-20%;
    border-radius: 25px 0 0 25px;
    transition: right 1s;
}

.menu_fact button {
    padding: 20px;
}

.menu_fact_close button {
    padding: 20px;
}


.link_wrap {
    display: flex;
    flex-flow:column nowrap;
}

.link_wrap a {
    margin-bottom: 15px;
}

.container {
    width: 100%; height: 100vh;
    background-color: #ffeedd;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.map_wrap {
    width: 70%; height: 100%;
    margin-bottom: 15px;
    position: relative;
}

.map {
    width: 500px; height: 500px;
    border-radius: 20px;
}


.circle {
    background-color: #d83b01;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s;
  }
  
  
  .circle_hover {
    background-color: #0078d4;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;    
    transform: scale(1.5);
    transition: 0.3s;
    z-index: 999;
    position: relative;
  }

  .circleText {
      width: 150px; height: 100px;
      position: absolute;
      top:-110px;
      background-color: red;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform:scale(0);
      opacity: 0;
      z-index: 999;
      padding: 5px;
      text-align: center;
      font-size: 1.2em;
      transition: 0.3s;
      font-family: 'Jua', sans-serif;
  }

  .circleText_hover {
    width: 150px; height: 100px;
    position: absolute;
    top:-110px;
    background-color: #0078d4;
    opacity: 1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:scale(1);
    transition: 0.3s;
    z-index: 999;
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Jua', sans-serif;
}



  .map_side {
      padding-top: 50px;
      width: 30%; height: 100%;
      display: flex;
      flex-flow:column nowrap;
      
  }
  .map_content button {
    position: absolute;
    font-size: 1.5em;
    right:20px; top:20px;
  }

  .map_content_hover button {
    position: absolute;
    font-size: 1.5em;
    right:20px; top:20px;

  }

  .map_content {
    height: 200px; width:100%;
    background-color: #ffeedd;
    border-bottom: 5px solid #e1b5a5;
    border-left: 5px solid #e1b5a5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jua', sans-serif;
    font-size: 0.875em;
    position: relative;
  }

  .map_content_hover {
    height: 200px; width:100%;
    background-color: #e1b5a5;
    border-bottom: 5px solid #e1b5a5;
    border-left: 5px solid #e1b5a5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color:#fff;
    font-family: 'Jua', sans-serif;
    font-size: 0.875em;
    position: relative;
  }


  .map_content h2 {
      font-size: 2.0em;
      font-weight: 600;
      font-family: 'Jua', sans-serif;
    }

  .map_content_hover h2 {
      font-size: 2.0em;
      font-weight: 600;
      font-family: 'Jua', sans-serif;
    }



    .plus_location {
        position: absolute;
        left:30px; top:100px;
        width: 55px; height: 55px;
        z-index: 999;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #77635c;
        color:#fff;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
        opacity: 0;
        animation: anima 1s infinite alternate linear ;
        font-family: 'Jua', sans-serif;
        cursor: pointer;
    }

    .plus_location_on {
        position: absolute;
        left:30px; top:100px;
        width: 55px; height: 55px;
        z-index: 999;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #77635c;
        color:#fff;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
        opacity: 1;
        transition: 0.3s;
        animation: anima 1s infinite alternate  ;
        font-family: 'Jua', sans-serif;
        cursor: pointer;
    }


    @keyframes anima {
        0% {top:100px}
        100% {top: 80px}
    }

    .modal_wrap {
        width: 100%; height: 100%;
        position: absolute;
        z-index:99998;
        background-color: rgba(0,0,0,0.4);
        font-family: 'Jua', sans-serif;
    }

    .modal_page {
        width:500px; height: 300px;
        background-color:#189bfa;
        display: flex;
        flex-flow:column nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 10px 10px 1px rgba(0,0,0,1);
        border:3px solid #000;
        position: absolute;
        z-index: 99999;
        left: 20%;
        font-family: 'Jua', sans-serif;
    }
    .modal_page input {
        width:60%;
        border:3px solid #000;
        border-radius: 5px;
        background-color: #ffeedd;
        height: 60px;
        margin-bottom: 20px;
        font-family: 'Jua', sans-serif;
        font-size: 1.2em;
    }
    .modal_page button {
        font-size: 2.5em;
    }